.banner{
    height: 80vh;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background-image: url("https://www.apple.com/v/home/au/images/heroes/ipad/hero_ipad__rh99l6c3yuyy_large.jpg");
}
.pic1 {
   height: 80vh;
    background-image: url("https://www.apple.com/v/home/au/images/heroes/iphone-14/hero_iphone14__fjmsqstr1ceq_large.jpg");
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}
.pic2{
    height: 80vh;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background-image: url("https://www.apple.com/v/home/au/images/heroes/holiday-2022/hero_endframe__8xosbwdvpaqe_large.jpg");
}
.pic3{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background-image: url("https://www.apple.com/v/home/au/images/promos/iphone-14-pro/promo_iphone14pro__4n4twj56fzmu_large.jpg");
}
.pic4{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background-image: url("https://www.apple.com/v/home/au/images/promos/apple-tv-4k/promo_tv4k_avail__e17d9isb0vwy_large.jpg");
}
.pic5{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background-image: url("https://www.apple.com/v/home/au/images/promos/ipad-pro/promo_ipadpro__ch217v9v7no2_large.jpg");
}
.pic6{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background-image: url("https://www.apple.com/v/home/au/images/promos/apple-watch-ultra/promo_apple_watch_ultra__gnsqulvdc4a6_large.jpg");
}
.pic7{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background-image: url("https://www.apple.com/v/home/au/images/promos/apple-watch-series-8/promo_apple_watch_series_8__ch7rexplmihe_large.jpg");
}
.pic8{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background-image: url("https://www.apple.com/v/home/au/images/promos/apple-fitness-plus-taylor-swift/promo_applefitnessplus_taylorswift__liig90blwtuu_large.jpg");
}
